@using Modelo2doParcial.Entidades.EF
@model Modelo2doParcial.Entidades.EF.Empleado

@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>

<form action="/Empleados/Crear" method="post">

    <div class="form-group">
        <label for="NombreCompleto">Nombre Completo</label>
        <input type="text" class="form-control" id="NombreCompleto" name="NombreCompleto" placeholder="Nombre Completo">
    </div>

    <div>
        Sucursal: 
        <select name="IdSucursal">
            @foreach (Sucursal sucursal in ViewBag.Sucursales)
            {
                <option value="@sucursal.IdSucursal">@sucursal.Direccion</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Crear</button>

</form>