<h1>Bienvenido al sitio de evaluación</h1>
<div>
    <ul>
        <li>
            <a href="/Ventas/RegistrarVenta">Registrar Venta</a>
        </li>
        <li>
            <a href="/Ventas/Resultados">Resultados</a>
        </li>
    </ul>
</div>