@using System.Globalization
@model EsFeriadoModel
@{
}
<h2>@(!Model.EsFeriado ? "Es Laborable" : "No es Laborable")</h2>
<p>@Model.Dia de @(new DateTime(2024, Model.Mes, Model.Dia).ToString("MMMM",CultureInfo.CreateSpecificCulture("es-ar")))</p>