@using System.Globalization
@model IEnumerable<Clase4.MVC.Web.Models.DiaInternacionalModel>
@{
}

<h2>Dias Internacionales</h2>
<ul>
@foreach (var diaInternacional in Model)
{
        <li>
            @diaInternacional.Fecha.Day de @diaInternacional.Fecha.ToString("MMMM", CultureInfo.CreateSpecificCulture("es-ar")) (@diaInternacional.Fecha.ToString("dddd", CultureInfo.CreateSpecificCulture("es-ar"))) - @diaInternacional.NombreDia 
        </li>
}
</ul>
