@using System.Globalization
@model IEnumerable<Clase4.MVC.Web.Models.DiaInternacionalModel>
@{
    Layout = "_CustomLayout";
}

<h2>Dias Internacionales</h2>
<a href="/DiasInternacionales/Crear">Agregar Día Internacional</a>
<ul>
@foreach (var diaInternacional in Model)
{
        <li>
            <partial name="DiaInternacionalEnListadoPartial" for="@diaInternacional" /> (@(diaInternacional.Nombre))
        </li>
}
</ul>
