@using System.Globalization
@model IEnumerable<Clase4.MVC.Web.Models.FeriadoModel>
@{
    Layout = "_CalendarioLayout";
}

<h2>Feriados</h2>
<a href="/Feriados/Crear">Agregar Feriado</a>
<ul>
@foreach (var feriado in Model)
    {
        <li>
            <partial name="DiaEspecialEnListadoPartial" for="@feriado" /> (@(feriado.EsInamovible ? "Inamovible" : "Trasladable"))
        </li>
    }
</ul>
