@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Días Internacionales</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

    <header>
        <h1>Listado de Días Internacionales <i class="fas fa-globe"></i></h1>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer>
        <p>&copy; 2024 - Días Internacionales</p>
    </footer>

    @section Scripts
    {
        @await RenderSectionAsync("Scripts", required: false)
    }
</body>
</html>

